.xiaoxi{
    width: 100%;
    height: 100%;
    header{
        width: 100%;
        height: 126px;
        border-bottom: 1px solid #e8e8e8;
        i{
            margin-left: 5%;
            line-height: 126px;
            float: left;
            color: #8b8b8b;
        }
        h1{
            line-height: 126px;
           text-align: center;
           color: #333333;
           font-size: 38px;
        }
    }
    section{
        width: 100%;
        img{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
    }
}